<div *ngIf="isLogin" class="brdr w-100 "></div>
<footer *ngIf="isLogin" class=' text-center shadow-lg text-white '>
    <section class="d-flex justify-content-center justify-content-lg-evenly py-4 border-bottom">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block text-muted">
            <span>Get connected with us on social networks : </span>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="https://www.facebook.com/mohamed.hamam.560?mibextid=ZbWKwL" target="_blank" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="https://twitter.com/Mohamed82746499?t=CPMz-MssukFQsdUaU4nS2Q&s=09" target="_blank" class="me-4 text-reset">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="https://instagram.com/eng_mohamedsamy74?igshid=ZDdkNTZiNTM=" target="_blank" class="me-4 text-reset">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="https://www.linkedin.com/in/mohamed-hamam-618802238" target="_blank" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/m0samy" target="_blank" class="me-4 text-reset">
                <i class="fab fa-github"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
</footer>