<div class="row py-4">
    <div class="col-md-2" *ngFor="let item of movies">
        <a [routerLink]="['/details' , item.id , mediaType]">
            <div class="movie my-3 position-relative">
                <img [src]=" 'https://image.tmdb.org/t/p/w500' + item.poster_path" class="w-100">
                <h3 class="h6 py-2 fw-bold font-sm">{{item.title}}</h3>
                <div class="vote top-0 end-0 position-absolute p-1 ">
                    {{item.vote_average.toFixed(1)}}
                </div>
            </div>
        </a>
    </div>
</div>