<div class="row py-md-5">
    <div class="col-md-4 d-flex align-items-center">
        <div>
            <div class="brdr w-25 mb-3"></div>

            <h2 class="h4">Trending <br> Movies <br> Right Now</h2>
            <p class="text-muted">Most Watched Movies BY Week</p>

            <div class="brdr w-100 mt-3"></div>     
        </div>
    </div>
    <div class="col-md-2" *ngFor="let item of trendingMovies">
        <a [routerLink]="['/details' , item.id , item.media_type]">
            <div class="movie my-3 position-relative">
                <img [src]=" 'https://image.tmdb.org/t/p/w500' + item.poster_path" class="w-100">
                <h3 class="h6 py-2 fw-bold font-sm">{{item.title}}</h3>
                <div class="vote top-0 end-0 position-absolute p-1 ">
                    {{item.vote_average.toFixed(1)}}
                </div>
            </div>
        </a>
    </div>
</div>

<div class="brdr w-100"></div>

<div class="row py-md-5">
    <div class="col-md-4 d-flex align-items-center">
        <div>
            <div class="brdr w-25 mb-3"></div>

            <h2 class="h4">Trending <br> Tv <br> Right Now</h2>
            <p class="text-muted">Most Watched Tv BY Week</p>

            <div class="brdr w-100 mt-3"></div>     
        </div>
    </div>
    <div class="col-md-2" *ngFor="let item of trendingTv">
        <a [routerLink]="['/details' , item.id , item.media_type]">
            <div class="movie my-3 position-relative">
                <img [src]=" 'https://image.tmdb.org/t/p/w500' + item.poster_path" class="w-100">
                <h3 class="h6 py-2 fw-bold font-sm">{{item.name}}</h3>
                <div class="vote top-0 end-0 position-absolute p-1 ">
                    {{item.vote_average.toFixed(1)}}
                </div>
            </div>
        </a>
    </div>
</div>

<div class="brdr w-100"></div>

<div class="row py-md-5">
    <div class="col-md-4 d-flex align-items-center">
        <div>
            <div class="brdr w-25 mb-3"></div>

            <h2 class="h4">Trending <br> People <br> Right Now</h2>
            <p class="text-muted">Most Watched People BY Week</p>

            <div class="brdr w-100 mt-3"></div>     
        </div>
    </div>
    <div class="col-md-2" *ngFor="let item of trendingPeople">
        <a [routerLink]="['/details' , item.id , item.media_type]">
            <div class="movie my-3 position-relative">
                <img [src]=" 'https://image.tmdb.org/t/p/w500' + item.profile_path" class="w-100">
                <h3 class="h6 py-2 fw-bold font-sm">{{item.name}}</h3>
            </div>
        </a>
    </div>
</div>
